[submodule "Construct2D_to_SOD2D/CFD_code/sod2d_gitlab"]
	path = CFD_solvers/sod2d_gitlab
	url = https://gitlab.com/bsc_sod2d/sod2d_gitlab.git
	branch = 277-witness-points-using-wrong-connectivity
[submodule "Construct2D_to_NEKRS/CFD_code/Nek5000"]
	path = CFD_solvers/Nek5000
	url = https://github.com/Nek5000/Nek5000.git
[submodule "Construct2D_to_NEKRS/CFD_code/nekRS"]
	path = CFD_solvers/nekRS
	url = https://github.com/Nek5000/nekRS.git
